.displayTable {
    display: table;
    width: 100%;
    height: 100%;
    background: #3F51B5;
}

.displayTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.authBlock {
    margin: 0 auto;
    max-width: 400px;
    background: white;
    padding: 30px 40px 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
}

.formGroup {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.formControl {
    width: 100%;
    display: block;
    padding: 15px 15px 14px;
    border: 2px solid #e7e7e7;
    outline: none;
    font-size: 15px;
    color: #444444;
    background: #fcfcfc;
}

.formControl:focus {
    border: 2px solid #d3d3d6
}

.displayTable .btn {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    background: #15CD72;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.displayTable .btn:hover {
    opacity: .88;
}

.displayTable .btnSecondary {
    background: #EEEEEE;
    color: #404040;
}

.displayTable .googleBtn {
    background: #eb5e4c;
}

.displayTable .facebookBtn {
    background: #5d82d1;
}

.or {
    text-align: center;
    display: block;
    color: #a0a0a0;
    background: white;
    position: relative;
    margin: 5px 0 0px;
}

.orInner {
    background: white;
    display: inline-block;
    z-index: 4;
    position: relative;
    padding: 0 12px;
}

.or:before {
    position: absolute;
    content: '';
    left: 0;
    top: 11px;
    width: 100%;
    height: 1px;
    background: #e2e2e2;
}

.grid1 {
    height: 100%;
    padding: 0px;
}

.container-login {
    width: fit-content;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.row1 {
    height: 50%;
    background: rgba(34, 136, 226, 1);
    background: -moz-linear-gradient(left, rgba(34, 136, 226, 1) 0%, rgba(6, 123, 207, 1) 21%, rgba(6, 120, 203, 1) 25%, rgba(5, 94, 158, 1) 66%, rgba(5, 91, 153, 1) 69%, rgba(1, 58, 101, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 136, 226, 1)), color-stop(21%, rgba(6, 123, 207, 1)), color-stop(25%, rgba(6, 120, 203, 1)), color-stop(66%, rgba(5, 94, 158, 1)), color-stop(69%, rgba(5, 91, 153, 1)), color-stop(100%, rgba(1, 58, 101, 1)));
    background: -webkit-linear-gradient(left, rgba(34, 136, 226, 1) 0%, rgba(6, 123, 207, 1) 21%, rgba(6, 120, 203, 1) 25%, rgba(5, 94, 158, 1) 66%, rgba(5, 91, 153, 1) 69%, rgba(1, 58, 101, 1) 100%);
    background: -o-linear-gradient(left, rgba(34, 136, 226, 1) 0%, rgba(6, 123, 207, 1) 21%, rgba(6, 120, 203, 1) 25%, rgba(5, 94, 158, 1) 66%, rgba(5, 91, 153, 1) 69%, rgba(1, 58, 101, 1) 100%);
    background: -ms-linear-gradient(left, rgba(34, 136, 226, 1) 0%, rgba(6, 123, 207, 1) 21%, rgba(6, 120, 203, 1) 25%, rgba(5, 94, 158, 1) 66%, rgba(5, 91, 153, 1) 69%, rgba(1, 58, 101, 1) 100%);
    background: linear-gradient(to right, rgba(34, 136, 226, 1) 0%, rgba(6, 123, 207, 1) 21%, rgba(6, 120, 203, 1) 25%, rgba(5, 94, 158, 1) 66%, rgba(5, 91, 153, 1) 69%, rgba(1, 58, 101, 1) 100%);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.row2 {
    padding: 10px;
    height: 50%;
    background: rgba(237, 171, 0, 1);
    background: -moz-linear-gradient(left, rgba(237, 171, 0, 1) 0%, rgba(232, 177, 40, 1) 31%, rgba(230, 180, 55, 1) 43%, rgba(230, 184, 76, 1) 67%, rgba(229, 185, 80, 1) 69%, rgba(217, 191, 126, 1) 94%, rgba(217, 191, 126, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 171, 0, 1)), color-stop(31%, rgba(232, 177, 40, 1)), color-stop(43%, rgba(230, 180, 55, 1)), color-stop(67%, rgba(230, 184, 76, 1)), color-stop(69%, rgba(229, 185, 80, 1)), color-stop(94%, rgba(217, 191, 126, 1)), color-stop(100%, rgba(217, 191, 126, 1)));
    background: -webkit-linear-gradient(left, rgba(237, 171, 0, 1) 0%, rgba(232, 177, 40, 1) 31%, rgba(230, 180, 55, 1) 43%, rgba(230, 184, 76, 1) 67%, rgba(229, 185, 80, 1) 69%, rgba(217, 191, 126, 1) 94%, rgba(217, 191, 126, 1) 100%);
    background: -o-linear-gradient(left, rgba(237, 171, 0, 1) 0%, rgba(232, 177, 40, 1) 31%, rgba(230, 180, 55, 1) 43%, rgba(230, 184, 76, 1) 67%, rgba(229, 185, 80, 1) 69%, rgba(217, 191, 126, 1) 94%, rgba(217, 191, 126, 1) 100%);
    background: -ms-linear-gradient(left, rgba(237, 171, 0, 1) 0%, rgba(232, 177, 40, 1) 31%, rgba(230, 180, 55, 1) 43%, rgba(230, 184, 76, 1) 67%, rgba(229, 185, 80, 1) 69%, rgba(217, 191, 126, 1) 94%, rgba(217, 191, 126, 1) 100%);
    background: linear-gradient(to right, rgba(237, 171, 0, 1) 0%, rgba(232, 177, 40, 1) 31%, rgba(230, 180, 55, 1) 43%, rgba(230, 184, 76, 1) 67%, rgba(229, 185, 80, 1) 69%, rgba(217, 191, 126, 1) 94%, rgba(217, 191, 126, 1) 100%);
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #004379;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}

.img-container {
    //height: 20px;
    //width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    //this only if you want to vertical align it to the center too
}

.forget {
    cursor: pointer;
}