<ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="justifycontent aligncenter">
  <div *ngIf="!next && !nextTutorial">
    <div>
      <!--CONTENEDOR PREGUNTA Y FOTO-->
      <div
        class="question-container"
        id="question-container"
        *ngIf="showQuestion"
      >
        <ion-text id="question-ion" class="ion-text-center" [color]="color">
          <h1>{{pregunta}}</h1>
        </ion-text>

        <div class="justifycontent">
          <img id="image" [src]="url" />
        </div>
        <!--BARRA RANGO-->
        <ion-range
          id="range"
          [(ngModel)]="value"
          min="0"
          max="100"
          class="slider"
          
          color="primary"
        >
          <ion-text class="text-range" slot="start" size="big"
            >{{'NO DEMASIADO'|translate}}</ion-text
          >
          <ion-text class="text-range" slot="end" size="big"
            >{{'EXTREMO'|translate}}</ion-text
          >
        </ion-range>
      </div>

      <!--CONTROL BUTTONS-->
      <div class="info" *ngIf="hideButtonComenzar">
        <ion-text color="warning">
          <h1 class="h1a">{{'TUTORIAL1'|translate}}</h1>
        </ion-text>
        <ion-text>
          <h5>{{'TUTORIAL2'|translate}}</h5>
        </ion-text>

        <ion-text color="warning">
          <h5>
            {{'TUTORIAL3'|translate}}
          </h5>
          <h5>{{'EJEMPLO'|translate}}</h5>
        </ion-text>
        <ion-img class="image" src="assets/img/tutorial.jpg"></ion-img>

        <ion-text>
          <h5>{{'READYTUTO'|translate}}</h5>
        </ion-text>
      </div>
      <div class="controls">
        <ion-button
          id="start-btn"
          class="start-btn btn"
          color="primary"
          *ngIf="hideButtonComenzar"
          (click)="startTest()"
          >{{'COMENZAR TUTORIAL'|translate}}</ion-button
        >
        <ion-button
          id="next-btn"
          class="next-btn btn"
          color="primary"
          *ngIf="hideButton"
          (click)="nextQuestion()"
          >{{'SIGUIENTE'|translate}}</ion-button
        >
      </div>
    </div>
  </div>

  <div *ngIf="next&&!nextTutorial&&!fin">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{'END PRACTICE SINGLE'|translate}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button
          id="continue-btn"
          class="btn"
          color="primary"
          (click)="tutorial()"
          >{{'NEXT TUTORIAL'|translate}}</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
  <div class="info" *ngIf="nextTutorial2&&!fin">
    <ion-text color="warning">
      <h1 class="h1a">{{'TUTORIAL4'|translate}}</h1>
    </ion-text>
    <ion-text>
      <h5>{{'TUTORIAL5'|translate}}</h5>
    </ion-text>

    <ion-text color="warning">
      <h5>{{'TUTORIAL6'|translate}}</h5>
      <h5>
        {{'TUTORIAL7'|translate}}
      </h5>
    </ion-text>

    <ion-text>
      <h5>{{'TUTORIAL8'|translate}}</h5>
    </ion-text>
    <ion-text>
      <h5>{{'TUTORIAL9'|translate}}</h5>
    </ion-text>
    
    <ion-text>
      <h5>{{'READYTUTO'|translate}}</h5>
    </ion-text>
    <ion-button
      id="start-btn"
      class="start-btn btn"
      color="primary"
      *ngIf="nextTutorial2"
      (click)="tutorial2()"
      >{{'COMENZAR TUTORIAL'|translate}}</ion-button
    >
  </div>

  <div *ngIf="nextTutorial&&!fin&&!nextTutorial2">
    <div id="question-container justifycontent" [class]="nomostrar">
      <!--INFORMACION-->

      <div class="cambioPreg" id="text-container" *ngIf="showNext1">
        <ion-text class="next-txt" color="secondary">
          <h2>{{"ENUNCIADO"|translate}}</h2>
        </ion-text>

        <ion-button
          id="next-btn"
          class="next-btn1 btn"
          color="primary"
          *ngIf="showButtonNext1"
          (click)="loadingImages()"
          >O
        </ion-button>
      </div>

      <ion-grid *ngIf="showImagenes" class="imagenes" id="image-container"
        ><ion-col>
          <img
            class="p"
            (click)="nextQuestionLeft()"
            *ngIf="urli"
            [src]="urli"
          />
        </ion-col>

        <ion-col>
          <img
            class="p"
            (click)="nextQuestionRight()"
            *ngIf="urld"
            [src]="urld"
          />
        </ion-col>
      </ion-grid>
    </div>

    <!--NEXT BUTTON-->
    <div class="controls" *ngIf="hideButtonComenzar">
      <ion-button
        id="start-btnP"
        class="start-btn btn"
        color="primary"
        (click)="presentLoading()"
        >{{'COMENZAR TUTORIAL'|translate}}</ion-button
      >
    </div>
  </div>

  <div *ngIf="fin">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>{{'END PRACTICE'|translate}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button
          id="continue-btn"
          class="btn"
          color="primary"
          (click)="finAll()"
          >{{'SALIR'|translate}}</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
