* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.my-modal {
    margin: 8% 3% 2% 3%;
    height: fit-content;
    width: auto;
}

fieldset {
    border: 0;
    padding: 0;
}

label {
    color: black;
}

.bt1 {
    padding: 6px;
    border-radius: 10px;
    width: 20.33%;
    cursor: pointer;
}

.col {
    //align-content: center;
    padding-top: 5px;
    text-align: center;
}

.link {
    cursor: pointer;
    //vertical-align: bottom;
}

.footer {
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: 5px;
    bottom: 10px;
    padding-top: 0%;
    //margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //bottom: 10px;
    //width: 90%;
    //text-align: center;
}

.my-checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.my-checkbox ion-checkbox {
    margin-right: 5px;
}

.item-paciente {
    margin-top: 20px;
}