<ion-content class="content" id="content">
<div class="my-modal">
    <ion-fab (click)="cerrar()" horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <h1 id="header_1" class="form-header" data-component="header">LFPQ</h1>
    <div id="subHeader_1" class="form-subHeader">
      Por favor, antes de contestar a esta pregunta, lea con detenimiento la
      información acerca de la privacidad y protección de datos de este estudio,
      accesible desde el siguiente enlace:
    </div>

    <h1 id="header_1" class="form-header" data-component="header">
      Ley de Protección de Datos (LOPD)
    </h1>
    <div id="subHeader_1" class="form-subHeader">
      Aquí se pondrá toda la información sobre la LOPD.
    </div>

 <ion-item >
      <ion-label >Paciente:</ion-label>
      <ion-input
        [(ngModel)]="idUser"
        placeholder="Introduzca ID"
        type="text"
      ></ion-input>
    </ion-item>

<div float-left class="my-checkbox">
<ion-checkbox [(ngModel)]="aceptado" name="terms">
    </ion-checkbox>
    <ion-label text-uppercase>He leido y acepto términos y condiciones</ion-label>
    
  </div>


   

    <pre>Valor de variable: {{idUser}}</pre>

    <div class="col text-center">

      <button
        *ngIf="idUser"
        class="bt1"
        type="submit"
        value="Enviar"
        (click)="dismiss()"
      >
        Empezar
      </button>
    </div>

    <div class="footer">
        <!--<ion-router-link class="link" color="medium" (click)="enlace()" >Términos y condiciones</ion-router-link>-->

    </div>
  </div></ion-content>
