.inner-adjust {
    padding: 0 20px;
}

.media-body h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.media-body h1 strong {
    font-weight: 600;
}

.media-body p {
    margin-bottom: 10px;
    font-weight: 300;
}

.media-body p strong {
    margin-bottom: 10px;
    font-weight: 600;
}

.logOutBtn {
    cursor: pointer;
}

.no-access {
    text-align: center;
    font-size: 26px;
    padding: 70px 0;
}

.rounded-circle {
    max-width: 150px;
}


/* Responsive */

@media(max-width:767px) {
    .sidebar {
        position: static;
        padding: 40px 0 10px;
        height: auto;
    }
    [role="main"] {
        padding-top: 0;
    }
    .inner-adjust {
        padding: 0;
    }
    ul.nav.flex-column {
        flex-direction: inherit !important;
    }
    .pt-3,
    .py-3 {
        padding-top: 1.5rem !important;
    }
    .brand-logo {
        max-width: 175px;
        margin: 0 auto;
        display: block;
    }
    .dasboard-text {
        display: none !important;
    }
    .sidebar-sticky {
        padding-top: 1.9rem !important;
        height: auto;
    }
    .sidebar-sticky .nav li {
        width: 50%;
        text-align: center;
        border-right: 1px solid #c7ceff;
    }
    .sidebar-sticky .nav li:last-child {
        border: none;
    }
    .no-data img {
        max-width: 100%;
        margin-top: 0;
    }
    .nodata-msg,
    .h2,
    h2 {
        font-size: 1.4rem;
    }
    .custom-text {
        font-size: 14px;
    }
    .navbar-nav {
        float: right;
        width: 50%;
        text-align: right;
        display: inherit;
        margin: 0;
    }
    .navbar-dark .navbar-brand {
        margin: 0;
        width: 50%;
        float: left;
        display: inherit;
    }
    .sidebar {
        padding: 40px 0 0;
    }
    footer br {
        display: none;
    }
    .media {
        display: block;
    }
    .rounded-circle {
        max-width: 150px;
        margin: 0 auto 20px !important;
        display: block;
    }
    b,
    strong {
        display: block;
    }
    .displayTable {
        background: white
    }
    .authBlock {
        box-shadow: none
    }
    .px-logo {
        display: none;
    }
}