#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#btnFlag {
    padding-left: 5px;
}

#container a {
    text-decoration: none;
}

#download {
    position: relative;
    float: right;
    font-size: 32px;
    margin-top: 2%;
    margin-right: 2%;
}

#idioma {
    position: relative;
    float: left;
    font-size: 32px;
    margin-top: 2%;
    margin-left: 2%;
}

#bienvenido {
    position: relative;
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    //margin-top: 2%;
    //margin-left: 2%;
}

#welcome {
    font-size: x-large;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
}

#spain {
    width: 3%;
    cursor: pointer;
    margin-right: 4px;
}

#english {
    width: 3%;
    cursor: pointer;
}

#login {
    float: right;
    margin-right: 2%;
}

#settings {
    float: right;
    margin-right: 8px;
}

#btnStart,
#btnTutorial {}