<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="idioma" id="idioma">

  <img id="btnFlag" (click)="cambioIdioma('es')"  src="assets/img/es.png">

  <img id="btnFlag" (click)="cambioIdioma('en')"  src="assets/img/en.png">

  </div>

  
  <div class="download" id="download">
    <ion-button color="medium" (click)="open()">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="bienvenido" id="bienvenido">
    <h1>{{ 'BIENVENIDO' | translate }}</h1>
  </div>

  <div id="container">
    <ion-button (click)="openTest()" color="primary">{{'COMENZAR TEST'|translate}}</ion-button>
    <ion-button (click)="openModuleS()" color="primary">SINGLE TEST</ion-button>
    <ion-button (click)="openModuleP()" color="primary">PAIRED TEST</ion-button>
    <ion-button (click)="openModuleTutorial()" color="primary">TUTORIAL</ion-button>
    <ion-button (click)="openModuleF()" color="primary">FORMULARIOS</ion-button>
    <ion-button (click)="openModuleC()" color="primary"
      >{{'CONFIGURACION'|translate}}</ion-button
    >
    <ion-button (click)="exportToExcel()" color="primary"
      >Exportar Excel</ion-button
    >
 
    <ion-button (click)="exportToExcelPaciente()" color="primary"
      >PACIENTE Excel</ion-button
    >
    <p>
      Start
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
